ul {
    list-style: none;
}
a {
    text-decoration: none;
    font-size: 16px;
    color: black;
}
.news {
    width: 300px;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(218, 214, 214);
    box-shadow: 5px 5px 10px rgb(97, 97, 97);
}
li {
    width: 100px;
    height: auto;
    display: flex;
}